* { margin: 0; padding: 0; }

body {
  color: var(--body-foreground);
  background-color: var(--body-background);
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  max-width: 640px;
  margin: 60px auto 40px;
  padding: 40px;
  line-height: 1.8;
}

p { margin-bottom: 1.8em; }
p.intro { font-size: 1.5em; }

a {
  color: var(--link-foreground);
  border-bottom: 1px solid #dedfe3;
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease;
}
a:hover {
  color: #ee4f28;
  border-color: inherit;
}

abbr { text-decoration: none; }

hr {
  background-color: #dedfe3;
  margin: 2.5em 0;
  width: 15%;
  height: 1px;
  border: 0;
}

:root {
  --body-foreground: #0c1c34;
  --body-background: #fff;
  --link-foreground: #6a6b6f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-foreground: #eee;
    --body-background: #111;
    --link-foreground: #ccc;
  }
}